In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Load
data = pd.read_csv("20251201_QDV2025_001.csv")

In [3]:
data.head()

,NOME PROVINCIA (ISTAT),CODICE NUTS 3 2021,CODICE PROVINCIA ISTAT (STORICO),DENOMINAZIONE CORRENTE,VALORE,INDICATORE,UNITA' DI MISURA,ANNO DI RIFERIMENTO DEI DATI,FONTE
0,Milano,ITC4C,15,Milano,75.1,Valore aggiunto per abitante,Migliaia di euro a valori correnti,Stima sul 2025,Prometeia
1,Bolzano/Bozen,ITH10,21,Bolzano,62.7,Valore aggiunto per abitante,Migliaia di euro a valori correnti,Stima sul 2025,Prometeia
2,Bologna,ITH55,37,Bologna,51.4,Valore aggiunto per abitante,Migliaia di euro a valori correnti,Stima sul 2025,Prometeia
3,Roma,ITI43,58,Roma,50.6,Valore aggiunto per abitante,Migliaia di euro a valori correnti,Stima sul 2025,Prometeia
4,Valle d'Aosta/Vallée d'Aoste,ITC20,7,Aosta,49.4,Valore aggiunto per abitante,Migliaia di euro a valori correnti,Stima sul 2025,Prometeia

In [4]:
data.rename(columns={'DENOMINAZIONE CORRENTE': 'PROVINCIA'}, inplace=True)

In [5]:
print(f"Numero indicatori presi in esame: {len(data['INDICATORE'].unique())}")
print(f"Numero province esaminate: {len(data['PROVINCIA'].unique())}")

Numero indicatori presi in esame: 90
Numero province esaminate: 107

In [6]:
# Verifica univocità
for c in data.columns[:4]:
    print(c, len(data[c].unique()))

NOME PROVINCIA (ISTAT) 107
CODICE NUTS 3 2021 107
CODICE PROVINCIA ISTAT (STORICO) 107
PROVINCIA 107

In [7]:
tabella_province = data.iloc[:, :4]
tabella_province = tabella_province.drop_duplicates().reset_index(drop=True)
tabella_province.columns = ['NOME_ISTAT', 'COD_NUTS', 'COD_ISTAT', 'PROVINCIA']
display(tabella_province)

                       NOME_ISTAT COD_NUTS  COD_ISTAT              PROVINCIA
0                          Milano    ITC4C         15                 Milano
1                   Bolzano/Bozen    ITH10         21                Bolzano
2                         Bologna    ITH55         37                Bologna
3                            Roma    ITI43         58                   Roma
4    Valle d'Aosta/Vallée d'Aoste    ITC20          7                  Aosta
..                            ...      ...        ...                    ...
102                     Agrigento    ITG14         84              Agrigento
103                 Vibo Valentia    ITF64        102          Vibo Valentia
104                  Sud Sardegna   ITG2H         111           Sud Sardegna
105         Barletta-Andria-Trani    ITF48        110  Barletta-Andria-Trani
106                       Cosenza    ITF61         78                Cosenza

[107 rows x 4 columns]

In [8]:
tabella_indicatori = data.iloc[:, 5:]
tabella_indicatori = tabella_indicatori.drop_duplicates().reset_index(drop=True)
tabella_indicatori.columns = ['INDICATORE', 'UNITA_MISURA', 'ANNO_RIFERIMENTO', 'FONTE']
display(tabella_indicatori)

,INDICATORE,UNITA_MISURA,ANNO_RIFERIMENTO,FONTE
0,Valore aggiunto per abitante,Migliaia di euro a valori correnti,Stima sul 2025,Prometeia
1,Trend del pil pro capite,Var % annua,Stima 2025 / 2024,elab. su dati Prometeia
2,Depositi bancari delle famiglie consumatrici,In migliaia euro pro capite,Al 31 luglio 2025,Banca d'italia
3,Retribuzione media annua dei lavoratori dipend...,Euro,2023,Istat - Elaborazioni su dati Inps - Osservator...
4,Reddito medio disponibile pro capite,Euro per abitante,2023,Istituto Tagliacarne - Stime provinciali degli...
...,...,...,...,...
85,Aree protette,In %,2022,Bes Istat
86,Spesa dei Comuni per la cultura,In euro pro capite per alcuni capitoli,2024,Elab. Tagliacarne su dati Siope
87,Amministratori comunali con meno di 40 anni,In % sul totale,2024,Istat su dati Anagrafe degli amministratori lo...
88,Partecipazione elettorale,Valori percentuali,2025,Bes Istat
89,Organizzazioni non profit,Per 10.000 abitanti,2022,Istat - Censimento sulle istituzioni non profit

In [9]:
tabella_punteggi = data[['PROVINCIA', 'INDICATORE', 'VALORE']]
display(tabella_punteggi)

                  PROVINCIA                    INDICATORE  VALORE
0                    Milano  Valore aggiunto per abitante    75.1
1                   Bolzano  Valore aggiunto per abitante    62.7
2                   Bologna  Valore aggiunto per abitante    51.4
3                      Roma  Valore aggiunto per abitante    50.6
4                     Aosta  Valore aggiunto per abitante    49.4
...                     ...                           ...     ...
9625  Barletta-Andria-Trani     Organizzazioni non profit    41.8
9626        Monza e Brianza     Organizzazioni non profit    40.9
9627                Caserta     Organizzazioni non profit    38.1
9628                 Napoli     Organizzazioni non profit    35.5
9629              Agrigento     Organizzazioni non profit    34.4

[9630 rows x 3 columns]

In [10]:
# Save
if False:
    tabella_punteggi.to_csv("punteggi.csv", index=False)
    tabella_province.to_csv("province.csv", index=False)
    tabella_indicatori.to_csv("indicatori.csv", index=False)